/* Style global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fb;
    color: #333;
    display: flexbox;
}

/* Container principal */
.container {
    display: flex;
    min-height: 100vh;

    h2 {
        font-weight: bold;
    }
}

/* Sidebar */
.sidebar {
    background-color: #2c3e50;
    color: #fff;
    width: 180px;
    padding: 20px;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar .logo {
    text-align: left;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}

.sidebar .selected {
    background-color: #34495e;
    color: white;
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.sidebar ul li:hover {
    background-color: #34495e;
}

.sidebar ul li svg {
    margin-right: 15px;
}

/* Contenu */
.content {
    flex-grow: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

/* Carte */
#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

    .map-title {
        font-size: 18px;
        font-weight: bolder;
        text-align: right;
    }
}

/* Info Météo */
#weather-info {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

    .weather-title {
        font-size: 18px;
        font-weight: bolder;
        text-align: left;
    }
}

.recapitulatif {
    width: 105%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.recapitulatif h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;
    color: #333;
}

.recap-list {
    display: flex;
    flex-wrap: wrap; /* Permet de passer à la ligne si l'espace est insuffisant */
    gap: 20px; /* Espacement entre les éléments */
    padding: 0;
    list-style: none;
    margin: 0;
}

.recap-element {
    flex: 1 1 calc(20% - 20px); /* 20% de la largeur avec une marge */
    min-width: 150px; /* Largeur minimale pour un bon affichage */
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    color: dimgray;
    display: flex;
    flex-direction: column; /* Alignement vertical des éléments */
    justify-content: space-between;
    align-items: left;
    text-align: left;
}

.recap-title {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.recap-element-data {
    font-weight: bold;
    font-size: 1.8em;
    color: dodgerblue;
}


.evolution-objectifs {
    width: 105%;
    display: flex;
    background: white;
    padding: 15px;
    color: dimgray;
    gap: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

    h3 {
        font-size: 15px;
        font-weight: bolder;
        text-align: left;
    }

    .evolution {
        width: 70%;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .objectifs {
        text-align: right;
        width: 35%;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        min-height: 300px;

        h3 {
            text-align: right;
        }
    }
}

.historique {
    width: 105%;
    background: whitesmoke;
    padding: 20px;
    height: 400px;
    color: dimgray;
    gap: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

    h3 {
        font-size: 15px;
        font-weight: bolder;
        text-align: left;
    }

}