@tailwind base;
@tailwind components;
@tailwind utilities; 

:root {
    --primary-bg: #ffffff;
    --primary-text: #000000;
    --primary-accent: #CFE1CA;
    --secondary-accent: #E6F285;
    --nav-bg: #CFE1CA;
    --card-bg: #ffffff;
}

/* Styles globaux */
body {
    background-color: var(--primary-bg);
    color: var(--primary-text);
}

/* Navigation */
nav {
    background-color: var(--nav-bg);
}

/* Cartes et conteneurs */
.bg-white {
    background-color: var(--card-bg);
}

/* Boutons principaux */
.bg-\[\#E6F285\] {
    background-color: var(--secondary-accent);
}

.bg-\[\#CFE1CA\] {
    background-color: var(--primary-accent);
}

/* Mode sombre */
.dark {
    --primary-bg: #1a1a1a;
    --primary-text: #ffffff;
    --primary-accent: #8BA888;
    --secondary-accent: #A8B562;
    --nav-bg: #2d2d2d;
    --card-bg: #333333;
}

/* Transitions */
* {
    transition: background-color 0.3s, color 0.3s;
}

.toast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    opacity: 0.9;
    transition: opacity 0.5s ease;
    color: white;
}

.toast-success {
    background-color: #4caf50; /* Vert */
}

.toast-warning {
    background-color: #ff9800; /* Orange */
}

.toast-error {
    background-color: #f44336; /* Rouge */
}

.toast-close {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}