@tailwind base;
@tailwind components;
@tailwind utilities; 

.toast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    opacity: 0.9;
    transition: opacity 0.5s ease;
    color: white;
}

.toast-success {
    background-color: #4caf50; /* Vert */
}

.toast-warning {
    background-color: #ff9800; /* Orange */
}

.toast-error {
    background-color: #f44336; /* Rouge */
}

.toast-close {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}