<main class="flex h-[80vh] items-center justify-between space-x-16 p-16">
    <section class="w-1/2 flex flex-col space-y-8 items-start">
        <h1 class="text-8xl font-bold">Together, we run</h1>
        <p class="text-lg text-gray-600">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, aliquam dolor. Reprehenderit in est, dicta, blanditiis voluptates officia minus inventore nostrum tempora sit nemo optio ipsum voluptatibus fugiat laudantium cupiditate!</p>
        <button class="bg-black text-white font-bold rounded-md px-4 py-2">
            <a href="/login" >Commencer</a>
        </button>
    </section>
    <section class="w-[50vw] h-[70vh]">
        <div class="w-full h-full">
            <img class="w-full h-full rounded-2xl object-cover" src="./image/image.png" alt="run">
        </div>
    </section>
</main>