<main class="h-screen z-0 ml-[175px]">
    <section class="w-full flex flex-col items-start">
        <div id="map" class="w-full h-[400px] z-0"></div>
        <section class="flex items-center gap-8 mt-8 px-16">
            <div class="flex items-center gap-8 bg-[#CFE1CA] rounded-2xl p-4">
                <div id="current-weather" class="pl-4"></div>
                <div class="flex flex-col items-center bg-[#E6F285] rounded-2xl gap-2 p-6 font-bold">
                    <p>Ce temps est idéal pour</p>
                    <button class="bg-black text-[#E6F285] rounded-md w-full px-4 py-2">Commencer</button>
                    <p>une activité sportive</p>
                </div>
            </div>
            <div id="forecast"></div>
        </section>
        <section class="px-16">
            <h2 class="text-2xl font-bold">Derniere activité</h2>
            <div id="last-activity"></div>
            <button class="text-black bg-[#E6F285] font-bold rounded-lg px-6 py-3">
                voir plus
            </button>
        </section>
    </section>
</main>