<nav class="bg-[#CFE1CA] z-30 w-full md:w-[175px] h-auto md:h-screen fixed bottom-0 md:top-0 left-0 flex md:flex-col items-center justify-between p-4 md:py-16 ">
    <div class="flex md:flex-col items-center gap-4 md:gap-8 w-full md:w-auto">
        <a href="/dashboard" class="font-bold text-lg md:block hidden">WeatherApp</a>

        

        <div class="w-full md:w-auto px-4 md:px-0">
            <ul class="flex md:flex-col gap-4 md:gap-9 w-full md:w-auto justify-between">
                <li >
                    <a href="/dashboard" class="flex cursor-pointer items-center gap-2 md:gap-4 font-bold text-[#616161]">
                        <img class="w-5 h-5 md:w-6 md:h-6" src="./image/icons/home.svg" alt="Home">
                    <p class="hidden md:block">Home</p>
                    </a>
                </li>
                <li>
                    <a href="/activity" class="flex cursor-pointer items-center gap-2 md:gap-4 font-bold text-[#616161]">
                        <img class="w-5 h-5 md:w-6 md:h-6" src="./image/icons/activity.svg" alt="Activity">
                        <p class="hidden md:block">Activity</p>
                    </a>
                </li>
                <li>
                    <a href="/profile" class="flex cursor-pointer items-center gap-2 md:gap-4 font-bold text-[#616161]">
                        <img class="w-5 h-5 md:w-6 md:h-6" src="./image/icons/stats.svg" alt="Stats">
                        <p class="hidden md:block">Stats</p>
                    </a>
                </li>
                <li>
                    <a href="/profile" class="flex cursor-pointer items-center gap-2 md:gap-4 font-bold text-[#616161]">
                        <img class="w-5 h-5 md:w-6 md:h-6" src="./image/icons/history.svg" alt="My history">
                        <p class="hidden md:block">History</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="hidden md:block">
        <ul class="flex md:flex-col gap-4">
            <li>
                <a href="/profile" class="flex items-center gap-2 md:gap-4 font-bold text-[#616161]">
                    <img class="w-5 h-5 md:w-6 md:h-6" src="./image/icons/account.svg" alt="Profile">
                    <p class="hidden md:block">Profile</p>
                </a>
            </li>
            <button id="theme-toggle" 
                class="p-2 rounded-lg bg-[#CFE1CA] hover:bg-[#E6F285] transition-colors duration-200"
                aria-label="Changer le thème">
        </button>
        </ul>
    </div>
</nav>

