<nav class="bg-[#CFE1CA] z-20 h-screen w-[175px] fixed top-0 left-0 flex flex-col items-center justify-between py-16">
    <div class="flex flex-col items-center gap-8">
        <a href="/dashboard" class="font-bold text-xl">WeatherApp</a>

        <div>
            <ul class="flex flex-col gap-4">
                <li class="flex cursor-pointer items-center gap-4 font-bold text-[#616161]" onclick="window.location.href = '/dashboard'"><img class="w-6 h-6" src="./image/icons/home.svg" alt="Home"><p>Home</p></li>
                <li class="flex cursor-pointer items-center gap-4 font-bold text-[#616161]" onclick="window.location.href = '/activity'"><img class="w-6 h-6" src="./image/icons/activity.svg" alt="Activity"><p>Activity</p></li>
                <li class="flex cursor-pointer items-center gap-4 font-bold text-[#616161]" onclick="window.location.href = '/stats'"><img class="w-6 h-6" src="./image/icons/stats.svg" alt="Stats"><p>Stats</p></li>
                <li class="flex cursor-pointer items-center gap-4 font-bold text-[#616161]" onclick="window.location.href = '/history'"><img class="w-6 h-6" src="./image/icons/history.svg" alt="My history"><p>History</p></li>
            </ul>
        </div>
    </div>
    

    <div>
        <ul class="flex flex-col gap-4">
            <li class="flex cursor-pointer items-center gap-4 font-bold text-[#616161]" onclick="window.location.href = '/profile'"><img class="w-6 h-6" src="./image/icons/account.svg" alt="Profile"><p>Profile</p></li>
            <li class="flex cursor-pointer items-center gap-4 font-bold text-[#616161]" onclick="window.location.href = '/notification'"><img class="w-6 h-6" src="./image/icons/notif.svg" alt="Settings"><p>Settings</p></li>
        </ul>
    </div>
</nav>

