<section class="w-full">
    <div id="parcours-list" class="flex flex-col mb-4">
        <!-- En-tête du tableau -->
        <div class="p-4 grid grid-cols-2 md:grid-cols-4 gap-2 md:gap-4 rounded-t-lg font-bold text-sm md:text-base">
            <div>Nom</div>
            <div class="hidden md:block">Date</div>
            <div>Type</div>
            <div>Distance</div>
        </div>
        
        <!-- Template pour chaque parcours -->
        <template id="parcours-item-template">
            <div class="bg-white p-4 grid grid-cols-2 md:grid-cols-4 gap-2 md:gap-4 border-b hover:bg-gray-50 text-sm md:text-base">
                <h3 class="parcours-name"></h3>
                <p class="parcours-type hidden md:block"></p>
                <p class="parcours-distance"></p>
            </div>
        </template>
    </div>
    <button id="new-parcour" class="bg-[#E6F285] text-black font-bold rounded-lg px-4 md:px-6 py-2 md:py-3 w-full md:w-auto">
        Nouveau parcours
    </button>
</section>

<div id="modal-new-parcour" class="hidden z-40 fixed inset-0 bg-black bg-opacity-50 justify-center items-center p-4">
    <div class="bg-white p-4 md:p-6 rounded-lg w-full md:w-[50vw] h-[80vh] overflow-y-auto">
        <h2 class="text-xl md:text-2xl font-bold mb-4">Nouveau parcours</h2>

        <input type="text" id="name-parcour" class="p-2 w-full md:w-52 border border-gray-300 rounded-lg mb-4" placeholder="Nom du parcours">
        
        <div id="map" class="w-full h-[250px] md:h-[400px] rounded-2xl"></div>

        <div class="flex flex-col flex-start gap-2 mt-2 w-full md:w-[200px]">
            <label for="type-parcour" class="text-base md:text-lg font-bold">Type de parcours</label>
            <select id="type-parcour" class="p-2 w-full border border-gray-300 rounded-lg mb-4">
                <option value="course">Course à pied</option>
                <option value="marche">Marche</option>
                <option value="marathon">Marathon</option>
                <option value="velo">Vélo</option>
            </select>
        </div>
        
        <div class="mt-2">
            <p id="distance-parcours" class="text-base md:text-lg font-bold"></p>
            <button id="reset-parcours" class="bg-[#CFE1CA] text-black font-bold rounded-lg px-4 md:px-6 py-2 md:py-3 mt-2 w-full md:w-auto">
                Réinitialiser le parcours
            </button>
        </div>

        <div class="flex flex-col md:flex-row justify-end gap-2 mt-4">
            <button id="save-parcour" class="bg-[#E6F285] text-black font-bold rounded-lg px-4 md:px-6 py-2 md:py-3 w-full md:w-auto">
                Enregistrer
            </button>
            <button id="close-parcour" class="bg-red-500 text-white font-bold rounded-lg px-4 md:px-6 py-2 md:py-3 w-full md:w-auto">
                Fermer
            </button>
        </div>
    </div>
</div>